:root {
  --hbs-body-font-family: "Merriweather", sans-serif;
  --hbs-secondary-text-on-surface: rgba(0, 0, 0, 0.87);
}
.post-summary {
  line-height: 1.9em;
}

.emoji {
  font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji,
    Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

.list-image {
  display: flex;
  margin-bottom: 2em;
}
.list-image img {
  width: 100px;
  height: 150px;
  margin-right: 1em;
}

.post-content {
  line-height: 1.9em;
}

blockquote {
  background-color: rgb(237, 237, 237);
  font-style: italic;
}
